<h2>Passenger Details</h2>
<p>Name: <%= @passenger.name %></p>
<hr>
<table>
  <th>Flights</th>
  <% @passenger.flights.each do |passenger_flight| %>
    <tr id="passenger-flight-<%= passenger_flight.id %>">
      <td><%= link_to passenger_flight.number, "/flights/#{passenger_flight.id}" %>
    </tr>
  <% end %>
</table>
